<div id="container">
    <br> <br>
    
    
    <div id="header">
    <img src="images/pic.png" >
    <h3>Kabelo Gaotlhaelwe</h3> <br>

    <span>IT Enthusiats . </span> <span>Web Developer . </span> <span>Software engeeriner . </span> <br>  <br>  <br>
    
    
    
    <div class="icon">
    
        <img src="images/hh.png"> <br> &#160;
        &#160; &#160; &#160; 079 339 5980
    </div>
    
    <div class="icon">
    
        <img src="images/message.png"> Kgaotlhaelwe@gmail.com
    </div>
    
    <div class="icon">
    
      &#160; &#160;  <img src="images/linkin.png"><br> &#160; &#160; &#160; &#160; &#160; #############
    </div>
    
    
    
    
    
    
    
    <div class="box" >

        <br> <br> <br> <br>
    
        <span> <img src="images/Education.png" > Education </span>  <br> <br> <br> <br>
        <table style="width:90%">
    
    
                <tr>
                        <th>Qualification</th>
                        <th>Institution</th>
                        <th>Year</th>
                      </tr>
      
            <tr>
              <td>Oracle Certified Associate Java</td>
              <td>Wits Tshimologong Precint</td>		
              <td>2017 -2018</td>
            </tr>
    
            <tr>
              <td>Commptia A+</td>
              <td>Wits Tshimologong Precint</td>			
              <td>2017 -2018</td>
            </tr>
    
            
            <tr>
              <td>Bcom Accounting</td>
              <td>PC training and Business College</td>		
              <td>2012 -2014</td>
            </tr>
    
          </table>
      </div>

      












      
    <div class="box" >
    
      <span> <img src="images/profile.png" > Career Profile </span>  <br> <br> 
        <p>I have recently completed a Learnership Programme with Tshimologong, where I successfully completed three international certificates which are  Query Data with Transact SQL (Micro soft sql server ) , Oracle Certified Associate (Java SE  7 Programmer) and Comptia A+s</p>
    </div>
    <div class="box" >
     
       <span> <img src="images/career.png" >IT SkillS</span> <br> <br> 
       <table>
        <tr>
          <th></th>
          <th></th>
          <th></th>
       <th></th>
        </tr>
        <tr>
          <td>Web development</td>
          <td>App Development</td>
          <td>Digital Marketing</td>
      
      
          
      
          
        </tr>
       
        
      
      </table>
      

     
    
    </div>
    
    <div class="box" >
     
        <span> <img src="images/reference.png" >  Reference</span> <br> <br>
        <table>
                <tr>
                  <th>Company</th>
                  <th>Name</th>
                  <th>Contact</th>
               <th>Position</th>
                </tr>
                <tr>
                  <td>Wits Tshimologong Precinct</td>
                  <td>Katlego</td>
                  <td>099777777</td>
              
              <td>Facillitator</td>
                  
              
                  
                </tr>
                <tr>
                 <td>Wits Tshimologong Precinct</td>
                  <td>Griffin</td>
                  <td>77765555</td>
              
              <td>Facillitator</td>
                
              </tr>
                
              
              </table>
              
      
     
     </div>
    
    
    
    
    
    </div>